# Core dependencies
python-dotenv>=1.1.0
exceptiongroup>=1.2.2
httpx>=0.28.1
mcp>=1.12.4,<2.0.0
openapi-pydantic>=0.5.1
rich>=13.9.4
cyclopts>=3.0.0
authlib>=1.5.2
pydantic[email]>=2.11.7
pyperclip>=1.9.0
openapi-core>=0.19.5

# Development dependencies
copychat>=0.5.2
dirty-equals>=0.9.0
fastapi>=0.115.12
ipython>=8.12.3
pdbpp>=0.10.3
pre-commit
psutil
pyinstrument>=5.0.2
pyright>=1.1.389
pytest>=8.3.3
pytest-asyncio>=0.23.5
pytest-cov>=6.1.1
pytest-env>=1.1.5
pytest-flakefinder
pytest-httpx>=0.35.0
pytest-report>=0.2.1
pytest-timeout>=2.4.0
pytest-xdist>=3.6.1
ruff
